main{
    display: flex;
    justify-content: space-between;
    padding: 40px; 
}


  
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    gap: 800px;
}

header {
    padding-bottom: 10px;
    background-color: #f2f2f2;
}

.line1  {
    background-color: black;
    width: 1440px; 
    padding: 12px 20px;
    margin-left: 0px;
    color: white;
}

.line2 {
    background-color: #8d8d8d;
    padding: 50px;
}

.title{
    margin-right: auto;
}

.side-section {
    display: flex;
    flex: 1;
    padding: 20px;
    
}
  
.side-side {
    max-width: 280px;
    max-height: 400px;;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 10px;
}

.side-side li {
    padding: 5px;
}

.side-side a {
    text-decoration: none;
}

.side-side h3 {
    padding: 10px;
}
  
.main-content {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex: 1;
    margin: 30px;
    color:black;
}
  
.main-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
  
.main-content p {
    margin-bottom: 20px;
}
  
.main-content a.button {
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}


